* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #f4f4f4;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.hidden {
  display: none;
}

#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 96px 48px; */
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 64px 44px 76px 44px;
  /* border: 1px solid #333; */
}

#inall {
  width: 328px;
  height: 383px;
}
#top {
  display: flex;
  font-size: 20px;
  /* margin-bottom: 20px; */
}
#top a {
  color: #4e4b47;
  margin-right: 24px;
  height: 33px;
  line-height: 33px;
  text-decoration: none;
  transition: all 0.3s ease;
}
#top a.active {
  color: #000;
  border-bottom: 3px solid #ff5c00;
}
.input-container {
  position: relative;
  margin: 5px 0;
}
.input-container input {
  width: 326px;
  height: 62px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #333;
  background-color: #e7e7e7;
  padding: 12px 0 0 14px;
}
.input-container label {
  font-size: 16px;
  position: absolute;
  left: 12px;
  top: 48%;
  transform: translateY(-50%);
  padding: 0 5px;
  color: #666;
  transition: all 0.3s ease;
  pointer-events: none;
}

/* 聚焦时标签样式 */
.input-container.focused label {
  top: 23px;
  left: 12px;
  font-size: 14px;
  background: inherit;
}
.form-fade {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  position: absolute;
}
.form-visible {
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}
.hidden {
  display: none;
}
input[type="submit"] {
  width: 326px;
  height: 62px;
  margin-top: 5px;
  font-size: 18px;
  background: #ff6900;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

#bot {
  margin-top: 10px;
}
#bot a {
  color: #4e4b47;
  text-decoration: none;
  transition: all 0.3s ease;
}
