* {
  margin: 0;
  padding: 0;
}
.buttons {
  cursor: default;
}
.point {
  cursor: pointer;
}

.back-to-top-link {
  position: fixed;
  top: 620px;
  right: 10px;
  z-index: 999;
  width: 71px;
  padding: 0 5px;
  background: #fff;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  color: #333;
  text-align: center;
  width: 66px;
  height: 69.5px;
}

.back-to-top-link p {
  font-size: 13px;
}

.back-to-top-link:hover {
  color: #9f8052;
}

/* 导航栏开始 */
#topbg {
  height: 48px;
  background-color: #333;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 210px;
  position: relative;
}

#topbg ul {
  list-style-type: none;
  height: 26px;
}

#topbg ul li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  font-size: 14px;
  color: #e7e7e7;
  border-right: 1px solid #666;
  position: relative;
}

#topbg ul li:last-child {
  border-right: none; /* 移除最后一个li元素的右边框 */
}

#topbg a {
  color: #e7e7e7;
  text-decoration: none;
}

#topbg ul li img {
  width: 21px;
}

.qr-code {
  /* width: 337px; */
  /* height: 337px; */
  display: none;
  position: absolute;
  top: 128%;
  right: -84px;
  padding: 3px;
  background-color: white;
  /* padding: 1px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #333;
  z-index: 100;
}

#topbg ul li:hover .qr-code {
  display: block;
}
/* 导航栏结束 */

/* 内容开始 */
#content {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  flex: 1;
}

#navi {
  height: 51px;
  /* background-color: red; */
  padding-top: 24px;
}

.cookie-regular {
  font-family: "Cookie", serif;
  font-weight: 400px;
  font-style: normal;
}

#navi p {
  color: #af8747;
  width: 239px;
  /* height: 51px; */
  font-size: 42px;
  margin-left: 96px;
  margin-top: 5px;
  float: left;
}

#search-m {
  width: 296px;
  padding-right: 46px;
  float: right;
}

.f-search {
  position: relative;
  width: 246px;
  padding-left: 35px;
  padding-top: 9px;
  height: 32px;
  border-bottom: 2px solid #e7e7e7;
  transition: all 0.3s;
}

.search-icon {
  position: absolute;
  left: 0;
  top: 14px;
  display: block;
  z-index: 2;
  text-align: center;
  outline: 0;
  font-size: 14px;
  transition: fill 0.3s; /* 添加过渡效果 */
}

.search-icon svg {
  fill: #333;
}

.search-icon:hover svg {
  fill: #af8747;
}

#search-m div .S-icon {
  width: 245px;
  height: 32px;
  line-height: 32px;
}

.S-icon input {
  width: 100%;
  border: none;
  color: #333;
  font-size: 14px;
  outline: 0;
  transition: all 0.2s;
}

#navi #search input {
  width: 296px;
  height: 42px;
  border: 0;
  border-bottom: 1px solid #e7e7e7;
  font-size: 18px;
}

.m-card-wrap {
  position: absolute;
  top: 17px;
  right: -30px;
}

.m-card-mini {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  transition: fill 0.3s; /* 添加过渡效果 */
  /* left: 10px; */
}

.m-card-mini svg {
  fill: #333;
}

.m-card-mini:hover svg {
  fill: #af8747;
}

.banner-nav {
  width: 1080px;
  margin: 0 auto;
  height: 358px;
  background-color: red;
}

/* 容器样式 */
.nav-container {
  position: absolute;
  height: 384.74px;
  background-color: #9f8052;
  width: 216。2px;
  z-index: 100;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* 列表样式 */
.nav-container .nav-list {
  height: 384.74px;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* 更多列表项样式 */
.nav-container .nav-list.more .nav-item {
  height: 33.6px;
  line-height: 33.6px;
}

/* 列表项默认样式 */
.nav-container .nav-list .nav-item {
  width: 129px;
  padding: 3px 46px;
  height: 33.2px;
  line-height: 33.2px;
  color: #fff;
  font-size: 14px;
  transition: all 0.2s ease; /* 添加过渡效果 */
  text-align: left;
  overflow: hidden;
}

/* 第一个列表项的顶部间距 */
.nav-container .nav-list .nav-item:first-of-type {
  margin-top: 12px;
}

/* 鼠标悬停效果 */
.nav-container .nav-list .nav-item:hover {
  background-color: rgba(0, 0, 0, 0.15); /* 悬停时的背景颜色 */
  color: #ffeb3b; /* 悬停时的文字颜色 */
}

.nav-container .nav-list .nav-item .separator {
  color: #fff; /* 分隔符颜色保持不变 */
}

/* banner开始 */
#banner {
  position: relative;
  width: 81%;
  overflow: hidden;
  margin-bottom: 40px;
  margin-left: auto;
  border-radius: 20px;
}

.banner-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.banner-item {
  width: 100%;
  flex-shrink: 0;
}

.banner-item img {
  width: 100%;
  height: auto;
  display: block;
}

.banner-controls {
  position: absolute;
  top: 47%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev,
.next {
  background-color: rgba(0, 0, 0, 0.5); /* 默认深灰色背景 */
  color: #fff; /* 白色文字 */
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  font-size: 21px;
  width: 35px; /* 固定宽度 */
  height: 35px; /* 固定高度 */
  border-radius: 50%; /* 圆形按钮 */
  display: flex;
  justify-content: center;
  align-items: center; /* 确保文本或图标居中 */
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.prev:hover,
.next:hover {
  background-color: #af8747; /* 橙色背景 */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* 阴影效果 */
  transform: scale(1.1); /* 放大效果 */
}

.prev:active,
.next:active {
  background-color: #e7e7e7; /* 点击时变为亮灰色 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 阴影减小 */
  transform: scale(1); /* 恢复原大小 */
}
/* banner结束 */

.h2b {
  color: #333;
  font-size: 28px;
  font-weight: 400;
  margin: 0 0 26px 26px;
}

.content-n {
  width: 100%;
  /* border: 1px solid black; */
  margin-top: 26px;
}

.content-n ul {
  display: flex;
}

ul li div img {
  height: 150px;
}

#d-ul {
  list-style-type: none;
  margin-left: 26px;
}

.onto .onto_1 {
  width: 557px;
  height: 210px;
  background-color: rgb(249, 243, 233);
}

.onto_1 img {
  margin-top: 0;
  float: right;
  width: 215px;
  height: 215px;
  margin-right: 15px;
}

.onto .pro-text {
  position: relative;
  z-index: 6;
  padding-top: 23px;
  padding-left: 23px;
}

.onto .pro-text .pro-info {
  color: #333;
  margin-top: 0;
  font-size: 20px;
}

.onto .pro-text .pro-desc {
  font-size: 14px;
  color: #666;
}

.onto .pro-text .pro-price {
  font-size: 24px;
  line-height: 28px;
  height: 28px;
  overflow: hidden;
  color: #a92112;
  margin-top: 16px;
}

.onto .pro-text .pro-price .tag {
  font-size: 15px;
  vertical-align: top;
  margin-right: 7px;
}

.onto .pro-text .pro-price .pro-flag {
  font-size: 15px;
  vertical-align: top;
  margin-right: 7px;
}

.onto .onto_2,
.onto_3 {
  position: relative;
  width: 246px;
  height: 210px;
  background-color: rgb(248, 248, 248);
  margin-left: 10px;
}

.onto .onto_2 img {
  position: absolute;
  right: 0;
  bottom: 15px;
  width: 130px;
  height: 130px;
  z-index: 4;
}

.onto .onto_3 img {
  position: absolute;
  right: 0;
  bottom: 15px;
  width: 130px;
  height: 130px;
  z-index: 4;
}

.into .into-to {
  width: 188px;
  height: 350px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #e7e7e7;
  background: none;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 3px;
}

.into {
  transition: transform 0.3s ease-in-out; /* 添加过渡效果 */
}

.into:hover {
  transform: scale(1.03, 1.03);
}

#d-ul .into-to .pro-desc {
  color: #845f3f;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  margin-top: 0;
  text-align: center;
}

.into-to .category-box {
  margin-top: 21px;
  padding: 13px 0 10px;
  margin-left: -35px;
  background: #f8f8f8;
  width: 258px;
}

.m-goods-common-tag-con {
  text-align: center;
  height: 20px;
  line-height: 22px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  overflow: hidden;
}

.category-box .pro-info {
  color: #333;
  margin-top: 10px;
  font-size: 18px;
  line-height: 22px;
  height: 22px;
  text-align: center;
}

.category-box .pro-price {
  margin-top: 11px;
  margin-bottom: 0;
  height: 22px;
  line-height: 22px;
  color: #a92112;
  text-align: center;
}

.category-box .pro-price .pro-unit {
  margin-right: 5px;
}

.category-box .pro-price .m-num {
  font-size: 20px;
}

.common-tag-text {
  padding: 0 4.5px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: bottom;
  border-radius: 3px;
  border-width: 0.7px;
  border-style: solid;
}

/* 版权信息开始 */
#bottom {
  left: 0;
  margin-top: 100px;
  width: 100%;
  /* background-color: #333; */
  border-top: 1px solid #e7e7e7;
  color: #666;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
}

/* 让图片区域自适应高度 */
.lpage_img img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* 版权信息结束 */
